
ENV_SETTING=dev


# --------- Database Configuration ---------
# Example "postgresql+psycopg://username:password@localhost:5432/db_name"
PG_DSN=postgresql+asyncpg://debug:debug@db:5432/db

SHORT_CODE_LENGTH=5

REDIS_URL=redis
REDIS_PORT=6379
REDIS_DB_NUMBER=0